Repository WildPastry/JustForToday, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, workflow

Update release flow
  .github/workflows/create-release.yml
Labels: workflow

Add intentional linting error
  app/components/Calendar.tsx
Labels: source

1.0.2
  package-lock.json
  package.json
Labels: repo

Update workflow to add edited
  .github/workflows/test-release.yml
Labels: workflow

Fix linting
  app/components/Calendar.tsx
Labels: source

Update release
  .github/workflows/create-release.yml
Labels: workflow

1.0.3
  package-lock.json
  package.json
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'test' label to any change to *.spec.tsx files within the app dir
test:
  - app/**/*.spec.tsx

# Add 'source' label to any change to src files within the app dir EXCEPT for the docs sub-folder
source:
  - any: ['app/**/*', '!app/docs/*']

# Add 'frontend` label to any change to *.tsx files as long as the `App.tsx` hasn't changed
frontend:
  - any: ['app/**/*.tsx']
    all: ['!App.tsx']

workflow:
  - .github/**/*.yml
